{% extends 'layout.html' %}

{% block css %}

{% endblock %}


{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 批量上传测试账号 </h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}

                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span style="color: #ff0000;">{{ field.errors.0 }}</span>
                        </div>

                    {% endfor %}

                    <div class="form-group">
                        <input type="file" name="exc">
                    </div>


                    {#                    { form.name.label }}:{{ form.name }}#}
                    {#                    {{ form.password.label }}:{{ form.password }}#}
                    {#                    {{ form.age.label }}:{{ form.age }}#}
                    <button type="submit" class="btn btn-primary">确认</button>
                    <a type="button" class="btn btn-primary" href="/{{ way }}/list/">取消</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

{% endblock %}