{% extends 'layout.html' %}

{% block css %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">我的信息</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>账号总数 : </label>
                        <a type="text" class="form-control">{{ form_data }}</a>
                    </div>

                    {#                    <button type="button" id="btnSignAccount" class="btn btn-primary">确认</button>#}
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">giao~了的次数</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>giao~了几次 : </label>
                        <a type="text" class="form-control">{{ form_data }}</a>
                    </div>

                    {#                    <button type="button" id="btnSignAccount" class="btn btn-primary">确认</button>#}
                </form>
            </div>
        </div>


    </div>

{% endblock %}


{% block js %}

{% endblock %}