{% extends 'layout.html' %}

{% block css %}

{% endblock %}


{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">我的信息</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>账号总数 : </label>
                        <a type="text" class="form-control"></a>
                    </div>

                    <div class="form-group">
                        <label>删除签到的日期：</label>
                        <input type="date" class="form-control" name="dateSign" id="dateSign"/>
                    </div>

                    <div class="form-group">
                        <label>已签到的APP : </label>
                        <select name="appSign" class="form-control" required="" id="appSign">
                            <option value="Yomi">Yo语音</option>
                            <option value="zhuiwan">Yo交友</option>
                            <option value="YaYa">YaYa</option>
                        </select>
                    </div>

                    <button type="button" id="btnSignAccount" class="btn btn-primary">确认</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

{% endblock %}