{% extends 'layout.html' %}

{% block css %}
    <style>

        section {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33.3%;
            min-width: 100px;
            height: 100px;
        }


        .loader-2 {
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #ff3d00;
            box-shadow: 0px -24px #333333, 0px 24px #333333;
            animation: rotate 2s ease-in-out infinite;
        }

        @keyframes shadowExpandX {
            0% {
                box-shadow: 0 0, 0 0;
                color: rgba(255, 255, 255, 0.2);
            }

            100% {
                box-shadow: -24px 0px, 24px 0px;
                color: rgba(255, 255, 255, 0.8);
            }
        }


        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes shadowColor {
            0% {
                box-shadow: -24px 0px #ff3d00, 24px 0px #fff;
            }

            50% {
                background: #ff3d00;
            }

            100% {
                box-shadow: -24px 0px #fff, 24px 0px #ff3d00;
            }
        }

        @keyframes shadowScale {
            0% {
                box-shadow: -48px 0px 0px 4px, -16px 0px, 16px 0px, 48px 0px;
            }

            33% {
                box-shadow: -48px 0px, -16px 0px 0px 4px, 16px 0px, 48px 0px;
            }

            66% {
                box-shadow: -48px 0px, -16px 0px, 16px 0px 0px 4px, 48px 0px;
            }

            100% {
                box-shadow: -48px 0px, -16px 0px, 16px 0px, 48px 0px 0px 4px;
            }
        }

        @keyframes shadowJump {
            0% {
                box-shadow: -48px -12px, -16px 0px, 16px 0px, 48px 0px;
            }

            33% {
                box-shadow: -48px 0px, -16px -12px, 16px 0px, 48px 0px;
            }

            66% {
                box-shadow: -48px 0px, -16px 0px, 16px -12px, 48px 0px;
            }

            100% {
                box-shadow: -48px 0px, -16px 0px, 16px 0px, 48px -12px;
            }
        }

        @keyframes shadowRolling {
            0% {
                box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            }

            12% {
                box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            }

            25% {
                box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            }

            36% {
                box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
            }

            50% {
                box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
            }

            62% {
                box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
            }

            75% {
                box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
            }

            87% {
                box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
            }

            100% {
                box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
            }
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container" style="width: 1000px">
        <div style="margin: 10px;">
            <label> UID：</label>
            <a id="account_uid">{{ account_data.account_uid }}</a>
            <label> YY：</label>
            <a id="account_YY">{{ account_data.account_YY }}</a>
            <label> 通行证：</label>
            <a id="account_card">{{ account_data.account_card }}</a>
        </div>

        <!--充值-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">测试环境的账号充值</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>充值的UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>
                    <div class="form-group">
                        <label>充值额度 : </label>
                        <input type="text" class="form-control" value="" placeholder="充值额度" required="" id="quota">
                    </div>

                    <div class="form-group">
                        <label>充值的币种 : </label>
                        <select name="coin" class="form-control" required="" id="coin">
                            <option value="1">Y币</option>
                            <option value="2">紫水晶</option>
                            <option value="34">金钻</option>
                            <option value="36">红贝</option>
                            <option value="58">ya币</option>
                        </select>
                    </div>

                    <button type="button" id="btnAddBalance" class="btn btn-primary">确认</button>
                    <button type="button" id="btnSearchBalance" class="btn btn-primary">查询</button>
                    <label id="labelBalance" class="hide">
                        当前货币数：<a id="balance"></a>

                    </label>
                </form>
            </div>
        </div>


        <!--设置新用户-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">设置新账号</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>设置新账号的UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>
                    <div class="form-group">
                        <label>测试机的HDID : </label>
                        <!--<input type="text" class="form-control" value="" placeholder="测试机的HDID" required="" id="hdid">-->
                        <select name="hd_id" class="form-control" placeholder="测试设备" required id="hd_id">
                            <div class="modal-body">

                                <form id="formAdd">
                                    <div class="clearfix">

                                        {% for field in phone_data %}
                                            <div class="col-xs-6">
                                                <div id="formGroup" class="form-group"
                                                     style="position: relative;margin-bottom: 20px;">
                                                    <option value="{{ field.id }}">  {{ field.phone }}</option>
                                                    <span class="error-msg"
                                                          style="color: red;position: absolute;"></span>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </form>

                            </div>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>新账号登录的APP : </label>
                        <select name="app" class="form-control" required="" id="app">
                            <option value="Yomi" selected="">Yo语音</option>
                            <option value="zhuiwan">Yo交友</option>
                            <option value="YaYa">YaYa</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>正式/测试环境选择 : </label>
                        <select name="env" class="form-control" required="" id="env">
                            <option value="official">正式环境</option>
                            <option value="test">测试环境</option>
                        </select>
                    </div>
                    {#                    <div class="form-group">#}
                    {#                        <label>交友boss后台的cookie : </label>#}
                    {#                        <input type="text" class="form-control" id="webCookie" placeholder="交友boss后台的cookie" required="">#}
                    {##}
                    {#                    </div>#}

                    <button type="button" id="btnNewAccount" class="btn btn-primary">确认</button>
                </form>
            </div>
        </div>


        <!--删除签到记录-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">删除测试环境的签到记录</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>已签到的UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>

                    <div class="form-group">
                        <label>删除签到的日期：</label>
                        <input type="date" class="form-control" name="dateSign" id="dateSign"/>
                    </div>

                    <div class="form-group">
                        <label>已签到的APP : </label>
                        <select name="appSign" class="form-control" required="" id="appSign">
                            <option value="Yomi">Yo语音</option>
                            <option value="zhuiwan">Yo交友</option>
                            <option value="YaYa">YaYa</option>
                        </select>
                    </div>

                    <button type="button" id="btnSignAccount" class="btn btn-primary">确认</button>
                </form>
            </div>
        </div>


        <!--重置超神贵族等级-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">重置测试环境的超神贵族等级</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>重置超神贵族等级的UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>

                    <button type="button" id="btnResetNoble" class="btn btn-primary">确认</button>
                </form>
            </div>
        </div>

        <!--清除进频道记录-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">清除测试环境的进频道记录</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>清除测试环境的进频道记录的UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>

                    <button type="button" id="btnCleanRoomCache" class="btn btn-primary">确认</button>
                </form>
            </div>
        </div>


        <!--批量给uid添加货币-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">添加批量货币</h3>
            </div>

            <div class="panel-body">
                <form method="post" novalidate="">
                    <div class="form-group">
                        <label>批量添加谁的账号 : </label>
                        <select name="accountBelongId0" class="form-control" required="" id="accountBelongId0">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>充值额度 : </label>
                        <input type="text" class="form-control" value="" placeholder="充值额度" required="" id="allQute">
                    </div>
                    <div class="form-group">
                        <label>充值的币种 : </label>
                        <select name="allCoin" class="form-control" required="" id="allCoin">
                            {#                            <option value="1">Y币</option>#}
                            {#                            <option value="2">紫水晶</option>#}
                            {#                            <option value="34">金钻</option>#}
                            {#                            <option value="36">红贝</option>#}
                            {#                            <option value="58">ya币</option>#}
                            <option value="2">紫水晶</option>
                        </select>
                    </div>

                    <button type="button" id="btnAddAllBalance" class="btn btn-primary">确认</button>
                    <h6 style="color: red" id="tips">确认后，属于自己的账号全部添加对应货币</h6>

                </form>
            </div>

        </div>


        <!--一个uid添加不同礼物-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">一个uid添加不同礼物</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">
                    <div class="form-group">
                        <label>添加包裹礼物的账号UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>
                    <div class="form-group">
                        <label>需要添加什么业务的包裹礼物 : </label>
                        <select name="idBusiness" class="form-control" required="" id="idBusiness">
                            <option value="2">交友房</option>
                            <option value="34">语音房</option>
                            <option value="36">宝贝房</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>包裹礼物数量 : </label>
                        <input type="text" class="form-control" value="" placeholder="包裹礼物数量" required="" id="allNums">
                    </div>
                    <div class="form-group">
                        <button type="button" id="btnUidAddGift" class="btn btn-primary">添加礼物到包裹</button>
                        <h6 style="color: red;">勾选了礼物就添加勾选的礼物到包裹，未勾选就全部添加到包裹</h6>
                    </div>
                    <div class="form-group">

                        <label>包裹礼物列表 : </label>
                        <div id="giftList">
                        </div>
                        <div class="form-group" id="devLoading" style="display: block">

                            <section><span class="loader-2"></span></section>

                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">

        document.getElementById("dateSign").value = new Date().toISOString().substring(0, 10);

        $(function () {
            bindBtnNewAccount();
            bindBtnAddBalance();
            bindBtnSearchBalance();
            bindBtnResetNoble();
            bindBtnResetSignLog();
            bindBtnOptionTest();
            bindBtnAddAllBalance();
            bindBtnAddAllGift();
            bindBtnUidAddGift();
            bindGetGiftList();
            bindBtnAddSelectGift();
            bindSearchGiftList();
            bindBtnCleanRoomCache();
        });

        function bindBtnOptionTest() {
            $.ajax({
                url: '/account/option/',
                dataType: 'json',
                type: 'get',
                success: function (res) {
                    console.log(res)
                    if (res.status) {
                        $.each(res.data, function (name, value) {
                            var option = "<option value=\"" + value[0] + "\"";
                            option += ">" + value[1] + "</option>"; //动态添加数据
                            $('#accountBelongId0').append(option);
                            $('#accountBelongId1').append(option);
                        });
                        $('#accountBelongId0').val(10);
                        $('#accountBelongId1').val(10);
                    }
                }
            });
        }

        function bindGetGiftList() {
            $.ajax({
                url: '/operation/get_gift_list/',
                dataType: 'json',
                type: 'get',
                data: {
                    business: $("#idBusiness").val()
                },
                success: function (res) {
                    console.log("礼物数据" + res)

                    if (res.status) {
                        $.each(res.data, function (name, value) {
                            var input = "<div>";
                            input += "<input type='checkbox' style='margin: 5px;' name='select_gift_list' value=\"" + value[1] + "\"";
                            input += ">" + "道具id:" + value[0] + "\n" + "费用id:" + value[1] + "\n" + "礼物名称:" + value[2] + "\n" + "</option>"; //动态添加数据
                            input += "</div>"
                            $('#giftList').append(input);
                            var loading = document.getElementById("devLoading");
                            loading.style.display = "none";
                        });
                    }
                }

            });

        }

        function bindSearchGiftList() {
            $("#idBusiness").click(function () {
                $("#giftList").empty();
                var loading = document.getElementById("devLoading");
                loading.style.display = "block";
                bindGetGiftList();
            });
        }

        function bindBtnNewAccount() {
            $("#btnNewAccount").click(function () {
                var hdid;
                hdid = $("#hdid").val();
                console.log(hdid)
                $.ajax({
                    url: "/operation/newacc/",
                    type: "post",
                    dataType: "json",
                    data: {
                        app: $('#app').val(),
                        uid: $("#account_uid").text(),
                        {#hdid: $("#hdid").val()#}
                        hdid: $("#hd_id").val(),
                        env: $("#env").val(),
                        webCookie: $("#webCookie").val()
                    },
                    success: function (res) {
                        if (res.result === 0) {
                            alert(res["msg"]);
                        }
                        if (res.result !== 0) {
                            alert(res["msg"]);
                        }
                    }
                });
            });
        }

        function bindBtnAddBalance() {
            $('#btnAddBalance').click(function () {
                $.ajax({
                    url: "/operation/addmoney/",
                    dataType: 'json',
                    type: 'post',
                    data: {
                        appid: $("#coin").val(),
                        quota: $("#quota").val(),
                        uid: $("#account_uid").text()
                    },
                    success: function (res) {
                        if (res.code === 1) {
                            var value = res["allAmount"]
                            $("#balance").text(value);
                            $('#labelBalance').removeClass();
                        } else {
                            alert(res.error);
                        }

                    }
                });
            });
        }

        function bindBtnSearchBalance() {
            $('#btnSearchBalance').click(function () {
                $.ajax({
                    url: '/operation/search_balance/',
                    data: {
                        appid: $("#coin").val(),
                        uid: $("#account_uid").text()
                    },
                    dataType: 'json',
                    type: 'post',
                    success: function (res) {
                        var value = res["allAmount"]
                        $("#balance").text(value);
                    }
                });

                $('#labelBalance').removeClass();
            });
        }

        function bindBtnResetSignLog() {

            console.log($('#dateSign').val());
            $("#btnSignAccount").click(function () {

                $.ajax({
                    url: '/operation/reset_sign_log/',
                    dataType: 'json',
                    type: 'POST',
                    data: {
                        app: $('#appSign').val(),
                        uid: $('#account_uid').text(),
                        date: $('#dateSign').val()
                    },

                    success: function (res) {
                        console.log(res.result)
                        console.log(res)
                        console.log(res.error)
                        if (res.result === 0) {

                            alert("重置成功");
                        } else {
                            alert(res.error)
                        }
                    }
                });
            });
        }

        function bindBtnResetNoble() {
            $("#btnResetNoble").click(function () {
                $.ajax({
                    url: "/operation/reset_noble/",
                    dataType: 'json',
                    type: 'post',
                    data: {
                        uid: $("#account_uid").text()
                    },
                    success: function (res) {
                        if (res.status === 0) {
                            alert("重置成功");
                        } else {
                            alert(res.error)
                        }
                    }
                });
            });
        }

        function bindBtnCleanRoomCache() {
            $("#btnCleanRoomCache").click(function () {
                $.ajax({
                    url: "/operation/clean_room_cache/",
                    dataType: 'json',
                    type: 'post',
                    data: {
                        uid: $("#account_uid").text()
                    },
                    success: function (res) {
                        if (res.status === 0) {
                            alert("清除成功");
                        } else {
                            alert(res.error)
                        }
                    }
                });
            });
        }


        function bindBtnAddAllBalance() {
            $('#btnAddAllBalance').click(function () {

                $("#tips").next().empty();

                $.ajax({
                    url: "/operation/add_all_balance/",
                    dataType: "json",
                    type: "post",
                    data: {
                        allQute: $("#allQute").val(),
                        account_belong_id: $("#accountBelongId").val(),
                        allCoin: $("#allCoin").val()
                    },
                    success: function (res) {
                        console.log(res["res"]["msg"])
                        if (res.status) {
                            alert("添加成功");
                            $("#tips").next().append(res["res"]["msg"])
                        } else {
                            alert(res["res"]["msg"])
                        }

                    }

                });
            });
        }

        function bindBtnAddAllGift() {
            $('#btnAddAllGift').click(function () {
                var checkID = []; // 定义空数组
                $("input[name='select_gift_list']:checked").each(function (i) {
                    checkID[i] = $(this).val();
                });

                $.ajax({
                    url: "/operation/add_select_gift/",
                    type: "post",
                    dataType: "json",
                    data: {
                        allNums: $("#allNums").val(),
                        uid: $("#account_uid").text(),
                        giftList: $("")
                    },
                    success: function (res) {
                        if (res.status) {
                            alert("添加成功");
                        } else {
                            alert(res["res"]["msg"])
                        }
                    }
                });
            });
        }

        function bindBtnUidAddGift() {

            $('#btnUidAddGift').click(function () {
                var checkID = []; // 定义空数组
                $("input[name='select_gift_list']:checked").each(function (i) {
                    checkID[i] = $(this).val();
                });
                console.log(checkID)
                $.ajax({
                    url: "/operation/uid_add_gift/",
                    type: "post",
                    dataType: "json",
                    data: {
                        allNums: $("#allNums").val(),
                        uid: $("#account_uid").text(),
                        giftList: checkID.toString()
                    },
                    success: function (res) {
                        if (res.status) {
                            alert("添加成功");
                        } else {
                            alert(res["res"]["msg"])
                        }
                    }
                });
            });
        }

        function bindBtnAddSelectGift() {
            $('#btnAddSelectGift').click(function () {
                var checkID = []; // 定义空数组
                $("input[name='select_gift_list']:checked").each(function (i) {
                    checkID[i] = $(this).val();
                });
                console.log(checkID)

                $.ajax({
                    url: "/operation/add_select_gift/",
                    type: "post",
                    dataType: "json",
                    data: {
                        allNums: $("#allNums").val(),
                        uid: $("#account_uid").text(),
                        giftList: checkID.toString()
                    },
                    success: function (res) {
                        if (res.status) {
                            alert("添加成功");
                        } else {
                            alert(res["res"]["msg"])
                        }
                    }
                });
            });
        }

    </script>
{% endblock %}