{% extends 'layout.html' %}

{% block css %}

{% endblock %}


{% block content %}
    <div class="container" style="width: 1000px">
        <div style="margin: 10px;">
            <label> UID：</label>
            <a id="account_uid">{{ account_data.account_uid }}</a>
            <label> YY：</label>
            <a id="account_YY">{{ account_data.account_YY }}</a>
            <label> 通行证：</label>
            <a id="account_card">{{ account_data.account_card }}</a>
        </div>

        <!--充值-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">账号充值</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>充值的UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>
                    <div class="form-group">
                        <label>充值额度 : </label>
                        <input type="text" class="form-control" value="" placeholder="充值额度" required="" id="quota">
                    </div>

                    <div class="form-group">
                        <label>充值的币种 : </label>
                        <select name="coin" class="form-control" required="" id="coin">
                            <option value="1">Y币</option>
                            <option value="2">紫水晶</option>
                            <option value="34">金钻</option>
                            <option value="36">红贝</option>
                            <option value="58">ya币</option>
                        </select>
                    </div>

                    <button type="button" id="btnAddBalance" class="btn btn-primary">确认</button>
                    <button type="button" id="btnSearchBalance" class="btn btn-primary">查询</button>
                    <label id="labelBalance" class="hide">
                        当前货币数：<a id="balance"></a>

                    </label>
                </form>
            </div>
        </div>


        <!--设置新用户-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">设置新账号</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>设置新账号的UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>
                    <div class="form-group">
                        <label>测试机的HDID : </label>
                        <!--<input type="text" class="form-control" value="" placeholder="测试机的HDID" required="" id="hdid">-->
                        <select name="hd_id" class="form-control" placeholder="测试设备" required id="hd_id">
                            <div class="modal-body">

                                <form id="formAdd">
                                    <div class="clearfix">

                                        {% for field in phone_data %}
                                            <div class="col-xs-6">
                                                <div id="formGroup" class="form-group"
                                                     style="position: relative;margin-bottom: 20px;">
                                                    <option value="{{ field.id }}">  {{ field.phone }}</option>
                                                    <span class="error-msg"
                                                          style="color: red;position: absolute;"></span>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </form>

                            </div>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>新账号登录的APP : </label>
                        <select name="app" class="form-control" required="" id="app">
                            <option value="Yomi" selected="">Yo语音</option>
                            <option value="zhuiwan">Yo交友</option>
                            <option value="YaYa">YaYa</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>正式/测试环境选择 : </label>
                        <select name="env" class="form-control" required="" id="env">
                            <option value="official">正式环境</option>
                            <option value="test">测试环境</option>
                        </select>
                    </div>

                    <button type="button" id="btnNewAccount" class="btn btn-primary">确认</button>
                </form>
            </div>
        </div>


        <!--删除签到记录-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">删除签到记录</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>已签到的UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>

                    <div class="form-group">
                        <label>删除签到的日期：</label>
                        <input type="date" class="form-control" name="dateSign" id="dateSign"/>
                    </div>

                    <div class="form-group">
                        <label>已签到的APP : </label>
                        <select name="appSign" class="form-control" required="" id="appSign">
                            <option value="Yomi">Yo语音</option>
                            <option value="zhuiwan">Yo交友</option>
                            <option value="YaYa">YaYa</option>
                        </select>
                    </div>

                    <button type="button" id="btnSignAccount" class="btn btn-primary">确认</button>
                </form>
            </div>
        </div>


        <!--重置超神贵族等级-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">重置超神贵族等级</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate="">

                    <div class="form-group">
                        <label>重置超神贵族等级的UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>

                    <button type="button" id="btnResetNoble" class="btn btn-primary">确认</button>
                </form>
            </div>
        </div>

        <!--批量给uid添加货币-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">一个uid添加批量礼物</h3>
            </div>

            <div class="panel-body">
                <form method="post" novalidate="">
                    <div class="form-group">
                        <label>批量添加谁的账号 : </label>
                        <select name="accountBelongId0" class="form-control" required="" id="accountBelongId0">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>充值额度 : </label>
                        <input type="text" class="form-control" value="" placeholder="充值额度" required="" id="allQute">
                    </div>
                    <div class="form-group">
                        <label>充值的币种 : </label>
                        <select name="allCoin" class="form-control" required="" id="allCoin">
                            {#                            <option value="1">Y币</option>#}
                            {#                            <option value="2">紫水晶</option>#}
                            {#                            <option value="34">金钻</option>#}
                            {#                            <option value="36">红贝</option>#}
                            {#                            <option value="58">ya币</option>#}
                            <option value="2">紫水晶</option>
                        </select>
                    </div>

                    <button type="button" id="btnAddAllBalance" class="btn btn-primary">确认</button>
                    <h6 style="color: red" id="tips">确认后，属于自己的账号全部添加对应货币</h6>

                </form>
            </div>

        </div>


{#        <!--批量给uid添加包裹礼物-->#}
{#        <div class="panel panel-default">#}
{#            <div class="panel-heading">#}
{#                <h3 class="panel-title">批量uid加一个礼物</h3>#}
{#            </div>#}
{##}
{#            <div class="panel-body">#}
{#                <form method="post" novalidate="">#}
{#                    <div class="form-group">#}
{#                        <label>批量添加谁的账号 : </label>#}
{#                        <select name="accountBelongId1" class="form-control" required="" id="accountBelongId1">#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label>包裹礼物数量 : </label>#}
{#                        <input type="text" class="form-control" value="" placeholder="包裹礼物数量" required="" id="addNums">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label>礼物道具id : </label>#}
{#                        <input type="text" class="form-control" value="" placeholder="礼物道具id" required=""#}
{#                               id="addPropId">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label>礼物费用id : </label>#}
{#                        <input type="text" class="form-control" value="" placeholder="礼物费用id" required=""#}
{#                               id="allPricingId">#}
{#                    </div>#}
{##}
{##}
{#                    <button type="button" id="btnAddAllGift" class="btn btn-primary">确认</button>#}
{##}
{##}
{#                </form>#}
{#            </div>#}
{##}
{#        </div>#}


        <!--一个uid添加不同礼物-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">一个uid添加不同礼物</h3>
            </div>

            <div class="panel-body">
                <form method="post" novalidate="">
                    <div class="form-group">
                        <label>设置新账号的UID : </label>
                        <a type="text" class="form-control">{{ account_data.account_uid }}</a>
                    </div>
                    <div class="form-group">
                        <label>包裹礼物数量 : </label>
                        <input type="text" class="form-control" value="" placeholder="包裹礼物数量" required="" id="allNums">
                    </div>


                    <button type="button" id="btnUidAddGift" class="btn btn-primary">确认</button>


                </form>
            </div>

        </div>

    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">

        document.getElementById("dateSign").value = new Date().toISOString().substring(0, 10);

        $(function () {
            bindBtnNewAccount();
            bindBtnAddBalance();
            bindBtnSearchBalance();
            bindBtnResetNoble();
            bindBtnResetSignLog();
            binBtnOptionTest();
            bindBtnAddAllBalance();
            bindBtnAddAllGift();
            bindBtnUidAddGift();
        });

        function binBtnOptionTest() {
            $.ajax({
                url: '/account/option/',
                dataType: 'json',
                type: 'get',
                success: function (res) {
                    console.log(res)
                    if (res.status) {
                        $.each(res.data, function (name, value) {
                            var option = "<option value=\"" + value[0] + "\"";
                            option += ">" + value[1] + "</option>"; //动态添加数据
                            $('#accountBelongId0').append(option);
                            $('#accountBelongId1').append(option);
                        });
                        $('#accountBelongId0').val(10);
                        $('#accountBelongId1').val(10);
                    }
                }
            });
        }


        function bindBtnNewAccount() {
            $("#btnNewAccount").click(function () {
                var hdid;
                hdid = $("#hdid").val();
                console.log(hdid)
                $.ajax({
                    url: "/operation/newacc/",
                    type: "post",
                    dataType: "json",
                    data: {
                        app: $('#app').val(),
                        uid: $("#account_uid").text(),
                        {#hdid: $("#hdid").val()#}
                        hdid: $("#hd_id").val(),
                        env: $("#env").val()
                    },
                    success: function (res) {
                        if (res.result === 0) {
                            alert(res["msg"]);
                        }
                        if (res.result !== 0) {
                            alert(res["msg"]);
                        }
                    }
                });
            });
        }

        function bindBtnAddBalance() {
            $('#btnAddBalance').click(function () {
                $.ajax({
                    url: "/operation/addmoney/",
                    dataType: 'json',
                    type: 'post',
                    data: {
                        appid: $("#coin").val(),
                        quota: $("#quota").val(),
                        uid: $("#account_uid").text()
                    },
                    success: function (res) {
                        if (res.code === 1) {
                            var value = res["allAmount"]
                            $("#balance").text(value);
                            $('#labelBalance').removeClass();
                        } else {
                            alert(res.error);
                        }

                    }
                });
            });
        }

        function bindBtnSearchBalance() {
            $('#btnSearchBalance').click(function () {
                $.ajax({
                    url: '/operation/search_balance/',
                    data: {
                        appid: $("#coin").val(),
                        uid: $("#account_uid").text()
                    },
                    dataType: 'json',
                    type: 'post',
                    success: function (res) {
                        var value = res["allAmount"]
                        $("#balance").text(value);
                    }
                });

                $('#labelBalance').removeClass();
            });
        }

        function bindBtnResetSignLog() {

            console.log($('#dateSign').val());
            $("#btnSignAccount").click(function () {

                $.ajax({
                    url: '/operation/reset_sign_log/',
                    dataType: 'json',
                    type: 'POST',
                    data: {
                        app: $('#appSign').val(),
                        uid: $('#account_uid').text(),
                        date: $('#dateSign').val()
                    },

                    success: function (res) {
                        console.log(res.result)
                        console.log(res)
                        console.log(res.error)
                        if (res.result === 0) {

                            alert("重置成功");
                        } else {
                            alert(res.error)
                        }
                    }
                });
            });
        }

        function bindBtnResetNoble() {
            $("#btnResetNoble").click(function () {
                $.ajax({
                    url: "/operation/reset_noble/",
                    dataType: 'json',
                    type: 'post',
                    data: {
                        uid: $("#account_uid").text()
                    },
                    success: function (res) {
                        if (res.status === 0) {
                            alert("重置成功");
                        } else {
                            alert(res.error)
                        }
                    }
                });
            });
        }

        function bindBtnAddAllBalance() {
            $('#btnAddAllBalance').click(function () {

                $("#tips").next().empty();

                $.ajax({
                    url: "/operation/add_all_balance/",
                    dataType: "json",
                    type: "post",
                    data: {
                        allQute: $("#allQute").val(),
                        account_belong_id: $("#accountBelongId").val(),
                        allCoin: $("#allCoin").val()
                    },
                    success: function (res) {
                        console.log(res["res"]["msg"])
                        if (res.status) {
                            alert("添加成功");
                            $("#tips").next().append(res["res"]["msg"])
                        } else {
                            alert(res["res"]["msg"])
                        }

                    }

                });
            });
        }

        function bindBtnAddAllGift() {
            $('#btnAddAllGift').click(function () {
                $.ajax({
                    url: "/operation/add_all_gift/",
                    type: "post",
                    dataType: "json",
                    data: {
                        addNums: $("#addNums").val(),
                        account_belong_id: $("#accountBelongId1").val(),
                        addPropId: $("#addPropId").val(),
                        allPricingId: $("#allPricingId").val()
                    },
                    success: function (res) {
                        if (res.status) {
                            alert("添加成功");
                        } else {
                            alert(res["res"]["msg"])
                        }
                    }
                });
            });
        }


                function bindBtnUidAddGift() {
            $('#btnUidAddGift').click(function () {
                $.ajax({
                    url: "/operation/uid_add_gift/",
                    type: "post",
                    dataType: "json",
                    data: {
                        allNums: $("#allNums").val(),
                        uid: $("#account_uid").text()
                    },
                    success: function (res) {
                        if (res.status) {
                            alert("添加成功");
                        } else {
                            alert(res["res"]["msg"])
                        }
                    }
                });
            });
        }

    </script>
{% endblock %}