<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



 <form name="aform" method="get" action="#">
        省份：<select id="province" name="province"></select>
        城市：<select id="city" name="city"></select>
 </form>




</body>
</html>

<script type="text/javascript">
    var provinces = ["请选择", "交友房", "约战房", "宝贝房", "游戏房", "技能卡房"];
    var citys = [
        ["请选择"],
        ["顶部推荐名单", "交友派对名单", "多人比拼名单"],
        [""],
        [""],
        [""]
    ];
    //获取元素
    var province = document.getElementById('province');
    var city = document.getElementById('city');
    //创建省份
    for (var k in provinces) {
        var option = document.createElement('option');
        option.innerText = provinces[k]
        province.append(option);
    }

    //设置市级城市默认第一个
    var index = 0;
    var c_option = document.createElement('option');
    //给第一个option赋值
    c_option.innerText = citys[index];
    city.append(c_option);

    //当省份城市改变的时候改变相对应的市级城市
    province.onchange = function() {
        city.options.length = 0;
        //创建相对应的市级城市
        for (var k in citys[this.selectedIndex]) {
            var option = document.createElement('option');
            option.innerText = citys[this.selectedIndex][k];
            city.append(option);
        }
    }
</script>
