{% extends 'layout.html' %}

{% block css %}

{% endblock %}


{% block content %}
    <div class="container" style="width: 1200px">
        <!--添加测试人员按钮-->
        <div style="margin-bottom: 10px">
            <!-- <input type="button" value="新建订单1" class="btn btn-success" data-toggle="modal" data-target="#myModal"> -->
            <input id="btnAdd" type="button" value="添加测试人员" class="btn btn-success">
            <div style="float: right;width: 300px">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="tester_name" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>


        <!-- 测试人员列表 -->
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                测试人员列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>部门</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in form_data %}
                    <tr tid="{{ obj.id }}">
                        <td>{{ obj.id }}</td>
                        <td>
                            <a href="">{{ obj.tester_name }}</a></td>
                        <td>{{ obj.depart_name }}</td>
                        <td>
                            <input tid="{{ obj.id }}" type="button" class="btn btn-primary btn-xs btn-edit" value="编辑">
                            <input tid="{{ obj.id }}" class="btn btn-danger btn-xs btn-delete" type="button" value="删除">
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <!-- 分页列表 -->
        <ul class="pagination">
            {{ page_string }}
        </ul>

    </div>

    <!--新建对话框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建</h4>
                </div>
                <div class="modal-body">

                    <form id="formAdd">
                        <div class="clearfix">
                            {% for field in form_list %}
                                <div class="col-xs-6">
                                    <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        <span class="error-msg" style="color: red;position: absolute;"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button id="btnSave" type="button" class="btn btn-primary">保 存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除（对话框） -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">

            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4>是否确定删除？</h4>
                <p style="margin: 10px 0;"> 删除后，所有关联的相关数据都会被删除。</p>
                <p style="text-align: right;">
                    <button id="btnConfirmDelete" type="button" class="btn btn-danger">确 定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </p>
            </div>

        </div>
    </div>


{% endblock %}


{% block js %}
    <script type="text/javascript">
        var EDIT_ID;
        var DELETE_ID;

        $(function () {
            bindBtnAddEvent(); // 点击展开添加窗口
            bindBtnSaveEvent();  // 点击保存添加或编辑
            bindBtnDelEvent();  // 点击展开确认删除对话框
            bindBtnConfirmDeleteEvent(); // 点击确认删除
            bindBtnEditEvent();  // 点击编辑展开半窗
        });

        function bindBtnAddEvent() {
            $("#btnAdd").click(function () {

                EDIT_ID = undefined;

                // 清空对话框中的数据
                $("#formAdd")[0].reset();

                // 设置对话框的标题
                $("#myModalLabel").text("添加测试人员");

                // 点击新建按钮，显示对话框。
                $("#myModal").modal("show");

            });
        }

        function doAdd() {
            $.ajax({
                url: '/tester/add/',
                type: 'post',
                datatype: "json",
                data: $('#formAdd').serialize(),
                success: function (res) {
                    if (res.status) {
                        console.log(res.data);
                        // alert("创建成功");

                        // 清空表单  $("#formAdd")是jQuery对象 -> $("#formAdd")[0] DOM对象
                        $("#formAdd")[0].reset();

                        // 关闭对话框
                        $('#myModal').modal('hide');

                        // 刷新页面
                        location.reload();

                    } else {
                        $.each(res.error, function (name, errorList) {
                            $('#id_' + name).next().text(errorList[0]);
                            // console.log(res.error);
                            if (name === "account_belong") {
                                $('#id_account_belong').children(".error-msg").text(errorList[0])
                            }
                        });
                    }
                }
            });
        }

        function diEdit() {
            console.log(EDIT_ID);
            $.ajax({
                url: '/tester/edit/' + "?tid=" + EDIT_ID,  //  -> /order/edit/?uid=12,
                dataType: 'json',
                type: 'post',
                data: $('#formAdd').serialize(),

                success: function (res) {
                    if (res.status) {
                        $("#formAdd")[0].reset();

                        $("#myModal").modal('hide');

                        location.reload();
                    } else {
                        if (res.tips) {
                            alert(res.tips);
                        } else {
                            $.each(res.error, function (name, errorList) {
                                $("#id_" + name).next().text(errorList[0]);
                                // console.log(res.error);
                                // console.log("#id_" + name)
                                console.log("if前")
                                if (name === "account_belong") {
                                    console.log("if后")
                                    $('#id_account_belong').children(".error-msg").text("这个是必填的！")
                                }
                            })
                        }
                    }
                }
            });
        }


        function bindBtnEditEvent() {

            $(".btn-edit").click(function () {

                $('#formAdd')[0].reset();

                var tid = $(this).attr('tid');

                EDIT_ID = tid;

                $.ajax({
                    url: '/tester/detail/',
                    dataType: 'json',
                    type: 'get',
                    data: {
                        tid: tid
                    },
                    success: function (res) {
                        if (res.status) {
                            $.each(res.data, function (name, value) {
                                $('#id_' + name).val(value);
                            });

                            $('#myModalLabel').text("编辑");

                            $('#myModal').modal('show');
                        } else {
                            alert(res.error);
                        }

                    }
                });

            });
        }

        function bindBtnSaveEvent() {
            $('#btnSave').click(function () {
                // 清除错误信息
                $('.error-msg').empty();

                if (EDIT_ID) {
                    // 编辑
                    diEdit();
                } else {
                    // 添加
                    doAdd();
                }
            });
        }

        function bindBtnDelEvent() {
            $('.btn-delete').click(function () {
                $('#deleteModal').modal("show");

                DELETE_ID = $(this).attr('tid');
            });
        }

        function bindBtnConfirmDeleteEvent() {
            $('#btnConfirmDelete').click(function () {
                console.log("点击了确认删除");
                $.ajax({
                    url: '/tester/delete/',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        tid: DELETE_ID
                    },
                    success: function (res) {
                        if (res.status) {
                            location.reload();
                        } else {
                            alert(res.error);
                        }

                    }
                });
            });
        }

    </script>
{% endblock %}